.container{
    width: 500px;
    height: 80px;
    margin: auto;
    border: 2px solid chocolate;
}
.bar{
    background-color: chocolate;
    width: 80px;
    height: 80px;
    animation: myAnim 2s linear alternate infinite;
}
@keyframes myAnim{
    0%{
        margin-left:0px;
    }
    100%{
        margin-left:420px;
    }
}
.img{
    filter: grayscale(100%);
}
.img:hover{
    transform: scale(1.1);
    filter: none;
}
@media{
    img{filter: none;}
}

.box {
    width: 1000px;
    height: 600px;
    margin: auto;
    border: 2px solid whitesmoke;
    background-color: wheat;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-style: italic;
}
.cart{
    position: relative;
    top: 80px;
    left: 80px;
}
.car1{
    width: 10%;
    position: relative;
    left: 100px;
    transform: rotate(-30deg);
    top: 70px;
    border-radius: 30px;
    animation: move 2s linear alternate;
}
.car2{
    width: 15%;
    position: relative;
    left: 150px;
    transform: rotate(-20deg);
    font-size: 0.5s;
    animation: move 2s linear 0.5s alternate;
}
.car3{
    width: 15%;
    position: relative;
    left: 200px;
    transform: rotate(20deg);
    animation: move 2s linear 1s alternate;
}
.car4{
    width: 10%;
    position: relative;
    left: 250px;
     transform: rotate(580deg);  
     top: 70px;
     animation: move 2s linear 1.5s alternate;
}
.car5{
    position: relative;
    top: 100px;
    left: 370px;
    width: 10%;
    transform: rotate(-270deg);
    animation: move 2s linear 2s alternate;
}

 @keyframes move {
    0% {
        top: 800px;
    }
    100% {
        top: 0;
    }
}
